<settings xmlns="https://apache.org"
          xmlns:xsi="http://w3.org"
          xsi:schemaLocation="https://apache.org https://apache.org">
    <servers>
        <server>
            <id>maven-releases</id>
            <username>admin</username>
            <password>Support@6Dtech</password>
        </server>
    </servers>
</settings>
